@font-face {
  font-family: 'MyFont';
  src: url('/src/assets/w95fa.woff2') format('woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #dfdfdf;
}

:root {
  font-family: 'MyFont';
  color: #222;
  margin: 0 auto;
  max-width: 710px;
}

#root {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

h1 {
  font-size: 4rem;
}
